// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --color-black: #000;
  --color-white: #fff;
}

$dark_blue_color: #191041;
$red_color: #FA003C;
$red_color_hover: #f92e5f;
