// базовые подключения
@import "vars";
@import "mixins";
//@import "fonts";
//@import "settings";

@mixin rotate($rotate_duration) {
  -webkit-animation:spin $rotate_duration linear infinite;
  -moz-animation:spin $rotate_duration linear infinite;
  animation:spin $rotate_duration linear infinite;
}

@mixin rotate-reverse($rotate_duration) {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation:spin-reverse $rotate_duration linear infinite;
  -moz-animation:spin-reverse $rotate_duration linear infinite;
  animation:spin-reverse $rotate_duration linear infinite;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

// sizes
$content_size: calc(100vh - 200px);
$elem_size: calc(100vh - 200px);
$elem_size_small: calc(100vh - 300px);

$canvas: 35vh;
$main_sphere: 100px;
$item_sphere: 90px;
$item_sphere_small: 60px;
// sizes


.anima {
  background-color: #000;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #canvasOne {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $canvas;
    height: $canvas;
    transform: translate(-50%, -50%);
    filter: hue-rotate(0deg);
    transition: all .2s ease;
  }

  .background, .sentinel, .cloudguard {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .background .sphere {
    height: $main_sphere;
    width: $main_sphere;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(1, 136, 245, 0) 46.87%, rgba(1, 136, 245, 0.263134) 67.71%, rgba(1, 136, 245, 0.646055) 81.25%, #0188F5 100%);
  }

  .container {
    position: relative;
    height: 100%;
    max-width: 1224px;
    padding: 0 20px;
    margin: 0 auto;
    opacity: 1;


    .text {
      color: #fff;
      max-width: 260px;
      padding: 20px;


      h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
      }

      p {
        font-weight: 300;
        font-size: 12px;
      }
    }
  }

  .sentinel, .cloudguard {
    .elems {
      height: $elem_size;
      width: $elem_size;
    }

    .elems .lines {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
    }

    .elems, .elems .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .sphere {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      p {
        position: absolute;
        bottom: -38px;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        white-space: nowrap;
      }
    }

    .content {
      height: $content_size;
      width: $content_size;
      position: absolute;
      left: calc(50% - $content_size / 2);
      top: calc(50% - $content_size / 2);
    }

    .container div[class^="step"] {
      opacity: 0;
      visibility: hidden;
    }

  }

  // general END

  .sentinel {
    .elems {
      height: $elem_size_small;
      width: $elem_size_small;
    }

    .sphere {
      background: radial-gradient(50% 50% at 50% 50%, rgba(1, 136, 245, 0) 46.87%, rgba(1, 136, 245, 0.263134) 67.71%, rgba(1, 136, 245, 0.646055) 81.25%, #0188F5 100%);
      height: $item_sphere_small;
      width: $item_sphere_small;
      margin-left: 20%;
    }

    .shine {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50%;
      width: 50%;
      transform: translate(-50%,-50%);
      background: radial-gradient(74.45% 74.45% at 50% 50%, rgba(1, 136, 245, 0.33) 0%, rgba(1, 136, 245, 0) 62.37%);
      opacity: 1;
    }

    .items {
        position: absolute;
        top: calc(50% - $item_sphere_small / 2);
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;

      .item {
        position: absolute;
        width: 100%;

        &:nth-child(1) {
          transform: rotate(90deg);

          .sphere {
            transform: rotate(-90deg);
          }

          p {
            bottom: auto;
            top: -38px;
          }
        }
        &:nth-child(2) {
          transform: rotate(210deg);

          .sphere {
            transform: rotate(-210deg);
          }
        }
        &:nth-child(3) {
          transform: rotate(330deg);

          .sphere {
            transform: rotate(-330deg);
          }
        }
      }
    }

    .container {
      .text {
        position: absolute;

        &:nth-child(1) {
          top: 30%;
          right: 0;
        }
      }
    }
  }


  .cloudguard {
    .lines {
      opacity: 0;
      transform: scale(.1);
      transition: transform .4s ease;
      -webkit-transition: transform .4s ease;
    }

    .elems .logo, .content {
      opacity: 0;
      visibility: hidden;
    }

    .shine {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: 0;
      background: radial-gradient(74.45% 74.45% at 50% 50%, rgba(0, 191, 191, 0.33) 0%, rgba(0, 191, 191, 0) 64.65%);
    }
  }


  // commons

  .background .sphere {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    filter: none;
  }

  // transitions

  .container, div[class^="step"] {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
  }

  .sentinel {
    .elems .logo, .content {
      transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .lines {
      transition: transform .4s, opacity 1.5s ease;
      -webkit-transition: transform .4s, opacity 1.5s ease;
    }
  }

  .cloudguard {
    .elems .logo, .content {
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
    }

    .shine {
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
    }

    .stripes {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0;
      margin: -5px 0 0 0;
      list-style: none;
      color: #fff;

      width: 100%;
      transform: translate(-50%,-50%);

      transition: all .4s ease;
      -webkit-transition: all .4s ease;

      li {
        position: absolute;
        width: 100%;
        transform-origin: center;

        p {
          margin: 0;
          position: absolute;
          top: -30px;
          opacity: 0;
          transition: opacity .2s ease .4s;
          -webkit-transition: opacity .2s ease .4s;
        }

        .bar {
          height: 10px;
          width: 30%;
          position: relative;
          .progress {
            display: block;
            height: 100%;
            width: 0%;
            position: absolute;
            right: 0;
            transition: width .4s ease;
            -webkit-transition: width .4s ease;
            box-shadow: 0px 0px 24px #00BFBF;
          }

        }

        &:nth-child(1) {
          transform: rotate(30deg);

          .progress {
            background-color: #11FFC3;
          }
        }
        &:nth-child(2) {
          transform: rotate(150deg);

          .progress {
            background-color: #54FFFF;
          }
        }
        &:nth-child(3) {
          transform: rotate(270deg);

          .progress {
            background-color: #11FFE3;
          }
        }
      }
    }

    .items {
      opacity: 0;
      position: absolute;
      top: calc(50% - 45px);
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;

      transition: all .4s ease;
      -webkit-transition: all .4s ease;

      .item {
        position: absolute;
        width: 100%;

        &:nth-child(1) {
          transform: rotate(90deg);
        }
        &:nth-child(2) {
          transform: rotate(210deg);
        }
        &:nth-child(3) {
          transform: rotate(330deg);
        }

        .sphere {
          background: radial-gradient(50% 50% at 50% 50%, rgba(0, 191, 191, 0) 12.5%, #00BFBF 99.48%);
          width: $item_sphere;
          height: $item_sphere;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translateX(-100%);
        }
      }
    }

    .dashed {
      opacity: 0;
      position: absolute;
      top: calc($item_sphere / 2 * -1);
      left: calc($item_sphere / 2 * -1);
      right: calc($item_sphere / 2 * -1);
      bottom: calc($item_sphere / 2 * -1);
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .container {
      div[class^="step"] .text {
        position: absolute;
      }

      .step_1 {
        .text:nth-child(1) {
          top: 30%;
          right: 0;
        }
      }

      .step_2 {
        .text:nth-child(1) {
          top: 30%;
          left: 0;
        }
        .text:nth-child(2) {
          top: 30%;
          right: 0;
        }
        .text:nth-child(3) {
          bottom: 0;
          left: 30%;
        }
      }

      .step_3 {
        .text:nth-child(1) {
          top: 0;
          left: 10%;
        }
        .text:nth-child(2) {
          bottom: 20%;
          right: 0;
        }
        .text:nth-child(3) {
          bottom: 30%;
          left: 0;
        }
      }
    }
  }

  // transitions END


  &.frame_1 {
    .background .sphere {
      //filter: hue-rotate(680deg) brightness(1.4);
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 191, 191, 0) 46.87%, rgba(0, 191, 191, 0.263134) 67.71%, rgba(0, 191, 191, 0.646055) 83.85%, #00BFBF 100%);
    }

    .sentinel{
      .elems .lines {
        transform: scale(.1);
        opacity: 0;
      }

      .elems .logo, .content, .container, .shine {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &.frame_2 {
    .background .sphere {
      height: $main_sphere * 1.5;
      width: $main_sphere * 1.5;
    }

    #canvasOne {
      width: calc($canvas * 1.5);
      height: calc($canvas * 1.5);
      //transform: translate(-50%, -50%) scale(1.7);
      transform: translate(-50%, -50%);
      //filter: hue-rotate(650deg) brightness(1.4);
    }

    .cloudguard {
      .elems .lines {
        transform: scale(1);
        opacity: 1;
      }

      .elems .logo, .content {
        opacity: 1;
        visibility: visible;
      }

      .shine {
        opacity: 1;
      }

      .container .step_1 {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.frame_3 {
    .cloudguard {
      .content {
        @include rotate(300s);
        animation-delay: .6s;
      }

      .stripes {
        .bar .progress {
          width: 100%;
        }

        p {
          opacity: 1;
        }
      }

      .container {
        .step_1 {
          opacity: 0;
          visibility: hidden;
        }
      }
      .container .step_2 {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.frame_4 {
    .cloudguard {

      .items, .dashed {
        opacity: 1;
      }

      .container {
        .step_1, .step_2 {
          opacity: 0;
          visibility: hidden;
        }
      }
      .container .step_3 {
        opacity: 1;
        visibility: visible;
      }
    }
  }


  // commons END

}

// animations

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-reverse { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-reverse { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

// animations END